@model MarCom.ViewModel.CompanyViewModel

<div>

    @using (Html.BeginForm("DeleteConfirm", "Company", FormMethod.Post, new { @id = "input-form"}))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
            <input type="submit" id="btn-delete" value="Delete" class="btn btn-danger" data-id="@Model.Id" /> 
        </div>
    }
</div>
