@model MarCom.ViewModel.EventViewModel
@using MarCom.Repository

@{
    string code = EventRepo.GetCode();
    string datenow = DateTime.Now.ToString("dd-MM-yyyy");
}
@using (Html.BeginForm("Add", "Event", FormMethod.Post, new { @id = "input-form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <table cellspacing="10">
            <tr class="row">
                <td>
                    <span>Transaction Code</span>
                </td>
                <td>
                    <input id="Code" name="Code" type="text" value="@code" class="form-control" readonly />
                </td>
                <td class="col-lg-1"></td>
                <td>
                    <span>Request By</span>
                </td>
                <td>
                    <input id="NameRequest" name="NameRequest" type="text" value="@Model.NameRequest" class="form-control" readonly />
                </td>
            </tr>

            <tr class="row">
                <td>
                    <span>Event Name</span>
                </td>
                <td>
                    <input id="Event_Name" name="Event_Name" type="text" class="form-control" placeholder="Event Name" />
                </td>
                <td class="col-lg-1"></td>
                <td>
                    <span>Request Date</span>
                </td>
                <td>
                    <input id="Date" name="date" value="@datenow" readonly />
                </td>
            </tr>
            <tr class="row">
                <td>
                    <span> Event Place</span>
                </td>
                <td>
                    <input id="Place" name="Place" type="text" class="form-control" placeholder="Place" />
                </td>
                <td class="col-lg-1"></td>
                <td>
                    <span>Note</span>
                </td>
                <td>
                    <textarea id="Note" name="Note" type="text" class="form-control" />
                </td>
            </tr>
            <tr class="row">
                <td>
                    Start Date
                </td>
                <td>
                    <input id="Start_Date" name="Start_Date" type="date" class="form-control datepicker" />
                </td>
            </tr>
            <tr class="row">
                <td>
                    End Date
                </td>
                <td>
                    <input id="End_Date" name="End_Date" type="date" class="form-control datepicker" placeholder="Select Date" />
                </td>
            </tr>
            <tr class="row">
                <td>
                    Budget
                </td>
                <td>
                    <input id="Budget" name="Budget" type="number" class="form-control" placeholder="Budget" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="submit" value="Save" class="btn btn-primary btn-sm" style="width:65px" />
                    <input type="button" value="Cancel" class="btn btn-warning" data-dismiss="modal" style="width:65px" />
                </td>
            </tr>
        </table>
    </div>
}