@model MarCom.ViewModel.ProductViewModel
<h4>Delete Data?</h4>
<hr />

@using (Html.BeginForm("DeleteConfirm", "Product", FormMethod.Post, new { @id = "input-form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="submit" id="btn-delete" value="Delete" class="btn btn-danger" data-id="@Model.Id" />  
        <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
    </div>
}

