@model MarCom.ViewModel.DesignRequestViewModel
@{
    ViewBag.Title = "List Design Request";
}

@Scripts.Render("~/AdminLTE/plugins/datatables/css")

<div class="panel panel-warning">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-12">
                <table>
                    <tr>
                        <td colspan="7"></td>
                        <td>
                            <button type="button" id="btn-new" class="btn btn-primary btn-sm" title="Add New">Add</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">
                            <input name="Code" type="text" class="form-control text-box single-line" placeholder="Transaction Code" />
                        </td>
                        <td class="col-lg-2">
                            <input name="Request_By" type="text" class="form-control text-box single-line" placeholder="Request By" />
                        </td>
                        <td class="col-lg-2">
                            <div class="input-group">
                                <input class="form-control datepicker" placeholder="Request Date" type="date" value="Request Date" />
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                            </div>
                        </td>
                        <td class="col-lg-2">
                            <input name="Assign_To" type="text" class="form-control text-box single-line" placeholder="Assign To" />
                        </td>
                        <td class="col-lg-2">
                            <input name="Status" type="text" class="form-control text-box single-line" placeholder="Status" />
                        </td>
                        <td class="col-lg-1">
                            <div class="input-group">
                                <input class="form-control datepicker" placeholder="Created" type="date" />
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                            </div>
                        </td>
                        <td class="col-lg-1">
                            <input name="Created_By" type="text" class="form-control text-box single-line" placeholder="Created By" />
                        </td>
                        <td>
                            <button type="button" id="btn-new" class="btn btn-warning btn-sm">Search</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12" id="table-list">
    <h3>Loading...</h3>
</div>



<div class="modal fade" tabindex="-1" role="dialog" id="modal-input">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
        });

        $("#btn-new").click(function () {
            $.ajax({
                url: '@Url.Action("Create","DesignRequest")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                }
            });
        });

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "DesignRequest")',
                type: 'get',
                success: function (result) {
                    $("#table-list").html(result);
                },
                error: function (err) {
                    $("#table-list").tml(err);
                }
            });
        }

        function action(act, id) {
            $.ajax({
                url: '/DesignRequest/'+act,
                type: 'get',
                data: { id: id },
                dataType: 'html',
                success: function (result) {
                    $('#modal-input').find('.modal-body').html(result);
                    $('#modal-input').modal('show');
                },
                error: function (err) {
                    $("#table-list").tml(err);
                }
            });
        }

        $("#modal-input").on("submit", "#input-form", function () {
            var vUrl = $(this).attr('action');
            var vMethod = $(this).attr('method');
            var vData = $(this).serialize();
            var name = $(this).attr('name');
            var name2 = $(this).attr('name2');
            $.ajax({
                url: vUrl,
                type: vMethod,
                data: vData,
                success: function (result) {
                    if (result.success) {
                        alert(name + " " + result.entity.Code + " " + name2);
                        $("#modal-input").modal("hide");
                        GetList();
                    } else {
                        alert("Eror!\n" + result.message);
                    }
                }
            });
            return false;
        });
    </script>
}