@model MarCom.ViewModel.SouvenirViewModel

<h5>Delete Data?</h5>
<div>    
    @using (Html.BeginForm("DeleteConfirm", "Souvenir", FormMethod.Post, new { @id = "input-form", name = ("Data Deleted ! Data souvenir with code "+Model.Code.ToString()+" has been deleted ")})) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
            <input type="submit" id="btn-delete" value="Delete" class="btn btn-danger" data-id="@Model.Id" />         
        </div>
    }
</div>



