@model MarCom.ViewModel.MenuViewModel

<h3>Deleta Data?</h3>     
    @using (Html.BeginForm("DeleteConfirm", "Menu", FormMethod.Post, new { @id = "input-form", name=("Data Deleted ! Data menu with "+Model.Code.ToString()+" has been deleted")})) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
            <input type="submit" id="btn-delete" value="Delete" class="btn btn-danger" />         
        </div>
    }



